/* Variabes */
/* Mixin's */
body {
    background: #ff9100;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}
.wrapper {
    margin: 30px auto;
    color: #fff;
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    text-transform: uppercase;
}
#seconds, #tens {
    font-size: 2em;
}
button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #333333;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 10px;
    width: 120px;
    margin: 10px;
    outline: none;
}
button:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #ff9100;
}
